* {
  margin: 0;
}

header {
  margin-inline: 3rem;
}

.navbar {
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

a {
  padding-inline: 2rem;
}

a:active {
  color: green;
}

a:hover {
  color: yellow;
}
